
* {
  box-sizing: border-box;
}

.App {
  font-family: 'Space Mono', monospace;
  background-color: #dfe6e9;
  width: 96%;
  margin-left: 2%;
}


.App-image{
  width: 440px;
  height: 300px;
}

.App-item{
  padding-top: 30px;
  margin-top: 2%;
}

.App-navigation{
    list-style-type: none;
    margin-left: 27%;
    width: 49%;
    overflow: hidden;
    margin-bottom: 5%;
}

.App-navitem{

    display: inline-block;
    text-align: center;
    padding-left: 9%;
    text-decoration: none;

}

.App-date{
  transform:rotate(270deg);
}
#specialDate{
  font-weight: 600;
  font-size: 50px;
}

.App-body{
  width: 64%;
  padding-right: 5%;
}

.App-arrow{
  transition: .5s ease;
}

.App-title{
  width: 45%;
  text-transform: uppercase;
}

.App-arrow:hover{

  opacity: 0.3

}

#leftArrow{
  transform: rotate(180deg);
}



.row::after {
  
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {
  width: 33.33%;
  float:left;

}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*ANIMATIONS*/


.fade-appear{
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 1000ms linear;
}


@import url('https://fonts.googleapis.com/css?family=Space+Mono');

