
* {
  box-sizing: border-box;
}

.App {
  font-family: 'Space Mono', monospace;
  background-color: #F8F8F8;
  width: 96%;
  margin-left: 2%;
}


.App-image{
  width: 440px;
  height: 300px !important;
  margin-left: 50%;
}

.App-item{
  padding-top: 30px;
  margin-top: 2%;
}

.App-navigation{
    list-style-type: none;
    width: 50%;
    overflow: hidden;
    margin-bottom: 5%;
    margin-left: 20%;
    /*position: absolute;
    top:400px;
    left:400px;*/

}

.App-navitem{

    display: inline-block;
    text-align: center;
    padding-left: 8%;
    text-decoration: none;

}

.App-date{
    transform:rotate(270deg);
    position: absolute;
    top:80px;
    left: 250px;
}
#monthYear{
  z-index: -1;
  padding-left: 40px;
  
}
#specialDate{
  font-weight: 600;
  font-size: 50px;
  z-index: 1;
  padding-right: 10px;
  
}

.App-body{
  width: 64%;
  padding-right: 5%;
  margin-left: 20%;
}

.App-arrow{
  transition: .5s ease;
}

.App-title{
  width: 40%;
  text-transform: uppercase;
  margin-left: 20%;
}

.App-arrow:hover{

  opacity: 0.3

}

#leftArrow{
  transform: rotate(180deg);
}



.row::after {
  
  content: "";
  clear: both;
  display: table;
}

/*  THE COLUMN WHICH I HAVE USED*/

.col-6 {
  width: 50%;
  float:left;

}


/*ANIMATIONS*/


.fade-appear{
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 2000ms linear;
}

/**
MEDIA QUERIES  FOR RESPONSIVE DESIGN
*/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }

  .App-image{
    width: 90%;
    height: 300px;
    margin:0;
    margin-left: 10%;
    padding: 0;
  }

  .App-date{
    transform:rotate(270deg);
    position: absolute;
    top:40px;
    left:10px;
}

.App-navigation{

  width: 100%;
  position: absolute;
  top:350px;
  right:80px;

}

.App-body{
  margin-left: 10%;
}
.App-title{
  margin-top:25%;
  width: 50%;
  margin-left: 10%;
}

#viewAll{
  display: none;
}

.App-navitem{
  padding-left: 25%;
}



}

/*FONT IMPORTED*/
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

